  .font_yhui{
      font-family: 'Microsoft YaHei UI';
   }
   .font_sz16{
     font-size: 16px;
   }
   .dis_inline{
     display: inline-block;
   }
   .font_sz15{
     font-size: 15px;
   }
   .width80{
     width:80px;
   }